<div class="port-wrapper p-4 d-flex flex-wrap col-12">
  <div class="col-4">
    <label class="label-port" for="">Id port: </label>
    <input type="text" class="ip-port" />
  </div>
  <div class="col-4">
    <label class="label-port" for="">Status port 1: </label>
    <select class="form-select ip-select" aria-label="Default select example">
      <option selected value="true">On</option>
      <option value="false">Off</option>
    </select>
  </div>
  <div class="col-4">
    <label for="brightnessRange" class="form-label">Brightness: </label>
    <input
      type="range"
      class="form-range ip-select"
      min="0"
      max="100"
      step="1"
      id="brightnessRange"
    />
  </div>
  <div class="col-4">
    <label class="label-port" for="">Port number: </label>
    <input type="text" class="ip-port" />
  </div>
  <div class="col-4">
    <label class="label-port" for="">Status port 2: </label>
    <select class="form-select ip-select" aria-label="Default select example">
      <option selected value="true">On</option>
      <option value="false">Off</option>
    </select>
  </div>
</div>
