<div class="main">
    <div class="status-bar">
        <ul>
            <li>
                <a href="#">link</a>
            </li>
            <li>
                <a href="#">link</a>
            </li>
            <li>
                <a href="#">link</a>
            </li>
        </ul>
    </div>


    <!-- ############################################# -->


    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur aperiam architecto animi reprehenderit nostrum ex cupiditate praesentium, ipsam, delectus ad veniam corporis doloribus blanditiis, illo soluta tempora nisi aspernatur ut!</p>
    <input type="text">
    <!-- ############################################# -->


</div>