<div class="wrap-sidebar">
    <div class="sidebar">
        <ul>
            <li>
                <div class="line">
                    <a href="#">tài khoản</a>
                </div>
            </li>
            <li>
                <div class="line active">
                    <a href="#">
                        <span>nội dung tĩnh</span>
                    </a>
                    <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name1">
                        <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
                    </a>
                </div>
                <div class="wrap-child d-none" id="name1">
                    <ul>
                        <li class=""><a href="#">danh sách</a></li>
                        <li><a href="#">thông báo</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="line">
                    <a href="#">
                        <span>bài viết</span>
                    </a>
                    <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name2">
                        <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
                    </a>
                </div>
                <div class="wrap-child d-none" id="name2">
                    <ul>
                        <li><a href="#">danh sách</a></li>
                        <li><a href="#">cài đặt hiển thị</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="line">
                    <a href="#">Thư viện ảnh</a>
                </div>
            </li>
            <li>
                <div class="line">
                    <a href="#">
                        <span>sản phẩm</span>
                    </a>
                    <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name4">
                        <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
                    </a>
                </div>
                <div class="wrap-child d-none" id="name4">
                    <ul>
                        <li><a href="#">danh mục sản phẩm</a></li>
                        <li><a href="#">sản phẩm</a></li>
                        <li><a href="#">cài đặt hiển thị</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="line">
                    <a href="#">custom</a>
                </div>
            </li>

        </ul>


    </div>
</div>